<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Mailer.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>Mailer.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Mailer.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>Mailer.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inbox</servlet-name>
        <servlet-class>Mailer.Inbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sent</servlet-name>
        <servlet-class>Mailer.Sent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inbox</servlet-name>
        <url-pattern>/Inbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sent</servlet-name>
        <url-pattern>/Sent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
